




@media only screen and (max-width: 768px) {
    header .navbar-brand {
      padding-left: 1rem;
    }
    .section-1 .row .col-md-6 .panel {
      position: initial;
      width: initial;
      height: initial;
    }
    .section-2 .cover {
      background-position: -25vmin -10vmin;
    }
    .numbers .rect {
      width: 10rem;
      height: 8rem;
    }
    .numbers .rect h1 {
      font-size: 2rem;
    }
  
    .section-3 {
      height: inherit;
      padding: 10vmin !important;
    }
    .section-3 .row h1 {
      padding: 6vmin 4vmin;
    }
    .section-3 .platform .col-md-6 {
      text-align: center !important;
    }
    .section-3 .desktop i {
      font-size: 8vmin;
    }
    .section-4 .carousel-item {
      padding-left: 0.6rem;
    }

    footer .row .col-md-2 {
      margin-top: 8vmin;
    }
  }
  
  /* screen size 375px */
  
  @media only screen and (max-width: 375px) {
    .section-4 .card {
      width: 18em;
    }

  }
  
  @media only screen and (max-width: 320px) {
    .section-4 .carousel-inner {
      margin-left: -4vmin;
    }

  }

  /**********************************

    HEADER

  **********************************/



  @media (min-width: 320px) and (max-width: 480px){


    .container{

  width:200px;
  position: relative;
  display:flex;
  justify-content: space-between;
    
  }

  
.book{

  animation:drop 1.5s ease;
}


@keyframes drop{

  0%{

    opacity: 0;
    transform: translateY(-80px);
  }

  100%{

    opacity: 1;
    transform: translateY(0px);
  }


}

   
  }


  
  /**********************************

    SECTION-1

  **********************************/




  @media (min-width: 320px) and (max-width: 480px){


  .section-1 .row .col-sm-12 .pray img{
  
      opacity: 0.8;
      width:80%;
      border-radius:0.2em;
  }
  
  .section-1 .row .col-sm-12:last-child{
  
      position: relative;
  }
  
  
  .section-1 .row .col-sm-12 .panel{
  
      position: absolute;
      top:7vmin;
      left:-5vmin;
      background: white;
      border-radius: 3px;
      text-align: left;
      padding: 13vmin 5vmin 20vmin 10vmin;
      box-shadow: 0px 25px 42px rgba(0,0,0,0.2);
      font-family: var(--Rubik);
      z-index: 1;
  }
  
  .section-1 .row .col-sm-12 .panel h1{
  
      font-weight: bold;
      padding:0.4em 0;
      font-size: 2em;
  }
  
  .section-1 .row .col-sm-12 .panel p{
  
      font-size: 0.9em;
      color:rgba(0,0,0,0.5);
  }
  




  }





  @media (min-width: 320px) and (max-width: 480px){

    .purchase .container{

      width:1000px;
      position: relative;
      display:inline-block;
      
    }

    
    .purchase .container .card{

      width:100%;
      position: relative;
      align-items: left;
      
      
    }
  } 









  /**********************************

    FOOTER

  **********************************/


  @media (min-width: 320px) and (max-width: 480px){

    .fixed-footer {

      padding-top:50%;
    }

    
    footer .col-md-5 h4{

      margin-left:7%;
    }


    footer .col-md-5 p{

      margin-left:7%;
    }



    footer .col-md-5 h1{

      margin-left:7%;
    }


    footer .col-sm-12 h4{

      margin-left:7%;
    }

    footer .col-sm-12 p{

      margin-left:7%;
    }

    footer .col-sm-12 .column{

      margin-left:7%;
    }

  }

  @media (min-width: 481px) and (max-width: 767px){

    .fixed-footer {

      padding-top:50%;
    }

    
    footer .col-md-5 h4{

      margin-left:7%;
    }


    footer .col-md-5 p{

      margin-left:7%;
    }



    footer .col-md-5 h1{

      margin-left:7%;
    }


    footer .col-sm-12 h4{

      margin-left:7%;
    }

    footer .col-sm-12 p{

      margin-left:7%;
    }

    footer .col-sm-12 .column{

      margin-left:7%;
    }
    
  }



   /**********************************

    TESTIMONIALS

  **********************************/


  
 
  @media (min-width: 320px) and (max-width: 480px){

  .section-4 .container h2{

  font-size:6vmin;
  padding-top: 14vmin;
  margin-left:5px;
}
  }

  
  @media (min-width: 481px) and (max-width: 767px){

    .section-4 .container h2{

      font-size:6vmin;
      padding-top: 14vmin;
      margin-left:4px;
    }
  }